@import '../../styles/-vars.scss';

.Posts {
  position: relative;
  padding: 10px 40px 20px;

  &__returnUsers {
    display: flex;
    justify-content: center;
    align-items: center;

    position: sticky;
    top: 4px;

    margin-left: calc(100vw - 347px);
    padding: 0 20px;
    width: 250px;
    height: 60px;

    background-color: $background-return-users;
    color: $color-return-users;
    border: 2px solid black;
    border-radius: 10px;
    text-decoration: none;

    transition: all 0.3s;

    &:hover {
      background-color: rgb(80, 199, 159);
      transform: scale(1.1);
    }

    &:active {
      background-color: rgb(51, 99, 83);
      color: red;
    }
  }

  &__name {
    margin-bottom: 20px;

    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: brown;
  }

  &__item {
    padding: 10px 0;
    list-style: none;
  }

  &__id {
    margin-bottom: 5px;
    text-align: center;
  }

  &__title {
    margin-bottom: 10px;

    text-align: center;
    font-size: 23px;
    font-weight: bolder;
  }

  &__text {
    padding-bottom: 10px;
    border-bottom: 1px solid $color-divider-posts;
  }
}
