$color-border-table: black;
$color-problem: red;
$background-head-table: aquamarine;
$background-chosen-row-table: bisque;
$background-chosen-row-albums: rgb(249, 249, 236);
$background-return-users: aquamarine;
$color-return-users: blueviolet;
$color-divider-posts: grey;
