@import '../../styles/-vars.scss';

.UsersTable {
  transition: background-color 0.3s;
  
  &__row {
    &:hover {
      background-color: $background-chosen-row-table;
    }
  }

  &__text {
    border: 1px solid $color-border-table;
    padding: 10px;
    width: 30%;
    font-size: 25px;
    
    &:first-of-type {
      text-align: center;
      font-size: 20px;
      width: 6%;
    }

    &:nth-of-type(n+4) {
      text-align: center;
      width: 17%;
    }
  }

  &__posts-albums {
    width: 100%;
    padding: 5px;
    transition: all 0.3s;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;

    &:hover {
      background-color: rgb(183, 171, 171);
      color: blue;
    }

    &:active {
      background-color: rgb(119, 110, 110);
    }
  }

  &__posts {
    display: block;
    text-decoration: none;
    color: black;
    border: 2px solid black;
  }

  &__albums {
    background-color: #fff;
    
  }
}
