@import '../../styles/-vars.scss';

.ModalContent {
  &__button {
    position: absolute;
    top: 15px;
    right: 10px;

    width: 40px;
    height: 40px;
    padding: 2px 0 0;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 35px;
    color: red;
  }

  &__list {
    list-style: none;
  }

  &__title {
    position: sticky;
    top: 5px;
    height: 40px;
    margin-bottom: 20px;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: bold;
  }

  &__container {
    margin-bottom: 20px;
    border-bottom: 1px solid $color-divider-posts;

    display: flex;
    gap: 20px;
    transition: background-color 0.3s;

    &:hover {
      background-color: $background-chosen-row-albums;
    }
  }

  &__album-title {
    font-style: italic;
  }
}
